<form action='@Url.Action("Comenzar")'> 
<input type="radio" name="Dificultad">

<div>
    <h1>Elige la Dificultad</h1>
    <select class="form-select" aria-label="Default select example">
        <option selected value="-1">Mezcladas</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>
<div>
    <h1>Elige la Categoria</h1>
    <select class="form-select" aria-label="Default select example">
        <option selected value="-1">Mezcladas</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>