@{
    ViewData["Title"] = "Home Page";
}
<div>
<img style="margin: 3%; width: 40%;height: auto" src="/Fotos/LogoSinFondo.png">
</div>
<div class="index-menu">
<a href='@Url.Action("ConfigurarJuego")'><button class="button-85" role="button">ConfigurarJuego</button>
<a href='@Url.Action("Jugar")'><button class="button-85" role="button">Jugar</button>
</div>


