@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center; justify-content: center; align-items:center">
<div>
<img style="margin: 3%; width: 40%;height: auto; clear: both;" src="/Fotos/LogoSinFondo.png">
</div>
<div class="index-menu" class="nueva-linea">
    <a href='@Url.Action("ConfigurarJuego")'><button class="button-85"><b>Jugar</b></button></a>
</div>
</div>

