@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center; justify-content: center; align-items:center">
<img style="margin: 3%; width: 20%;height: 20%; clear: both;" src="/Fotos/LogoSinFondo.png">
</div>
<div style="display: flex; ">
<div class="index-menu" class="nueva-linea" style="width: 20%;">
    <a href='@Url.Action("ConfigurarJuego")'><button class="button-85"><b>Jugar</b></button></a>
</div>
</div>

