@{
    ViewData["Title"] = "Juego";
}
<section class="infoJuego">
<h3>Nombre de usuario: @ViewBag.username</h3>

<h4>Puntaje: @ViewBag.puntajeActual </h4>

<h4>Pregunta N°@ViewBag.pregunta.IDPregunta</h4>

<h1>@ViewBag.pregunta.enunciado</h1>
</section>
<form method="post" action='@Url.Action("VerificarRespuesta", new {IDPregunta=@ViewBag.pregunta.IDPregunta})'>
<p>Elija la respuesta:</p>
@foreach (Respuesta res in ViewBag.respuestas)
{
    <button type='submit' name='IDRespuesta' value="res.IDRespuesta">hola</button>
}
</form>


<div class="container">
  <div class="bar-container">
    <div class="bar"></div>
  </div>
  <div class="timer">Tiempo restante:  <span id="countdown">30</span> segundos</div>
</div>