@{
    ViewData["Title"] = "Juego";
}

<h3>Nombre de usuario: -------</h3>

<h4>Puntaje: ---- </h4>

<h4>Pregunta N°@ViewBag.pregunta.IDPregunta</h4>

<h1>@ViewBag.pregunta.enunciado</h1>

<form method="post" action='@Url.Action("VerificarRespuesta", new {IDPregunta=@ViewBag.pregunta.IDPregunta})'>
<p>Elija la respuesta:</p>
@foreach (Respuesta res in ViewBag.respuestas)
{
    <button type='submit' name='IDRespuesta' value="res.IDRespuesta">hola</button>
}

</form>



